<% if (errorMsg && errorMsg.length) { %>
<h2 class="error-msg"><span class="close-btn">&times;</span><%= errorMsg %></h2>
<% } %>
<% if (successMsg && successMsg.length) { %>
<h2 class="success-msg"><span class="close-btn">&times;</span><%= successMsg %></h2>
<% } %>