<footer class="copyright-info">
  <p>Copyright &copy; 2021 Who's Blog All Rights Reserved.</p>
</footer>
<!-- CKeditor 05 initialize and other custom -->
<script src="/javascripts/index.js"></script>
</body>
</html>