<%- include('../templates/header') %>
<%- include('../templates/navbar_back') %>
  <main class="admin container">
    <%- include('../templates/alert') %>
    <section class="admin__object-new">
      <div class="object__title">點選上方按鈕進入相關設定</div>
    </section>
    <section class="admin__objects">
    </section>
  </main>
<%- include('../templates/footer') %>