/* html pre-use status: reset.css */
/* debug dev */
/* .debug *, .debug {
  border: 1px solid rgba(85, 107, 47, .3);
} */

/* DESKTOP BASED */
/* general parts */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.background {
  position: relative;
  flex-grow: 1;
  background: url('./img/games-bn.png') center/cover no-repeat;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 36px;
  color: #489846;
}

/* navbar */
nav {
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  background-color: white;
  padding: 0 5px;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.navbar__list {
  display: flex;
  font-size: 18px;
}
.navbar__list li {
  margin-left: 12px;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.2s;
}
.navbar__list li:hover, .active {
  background-color: #ff7286;
  color: white;
  cursor: pointer;
}

/* main */
main {
  display: flex;
  justify-content: center;
}
.display {
  width: 75%;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 7% 0 15%;
  padding: 1rem 0;
  background-color: #fff;
}
.lottery__section { 
  display: flex;
  flex-direction: column;
}
.lottery__section .wrapper {
  margin: 5%;
}
.lottery__section .wrapper .lottery__info > h2 {
  text-align: center;
  color: #5ec1b6;
  font-size: 24px;
  margin-bottom: 2rem;
}
.lottery__info-row {
  display: flex;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #cdcdcd;
}
.lottery__info-title {
  font-size: 18px;
  font-weight: 800;
  margin-top: 5px;
}
.lottery__info-desc {
  font-size: 16px;
  width: 75%;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 1.7rem;
}
.lottery__info-desc p::before {
  content: 'â¤ ';
  color: #ff7286;
}
.lottery-btn {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  width: 75%;
  border-radius: 8px;
  padding: 15px;
  color: white;
  background-color: #e62a45;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all .5s;
}
.lottery-btn:hover {
  background: #ff0040;
  box-shadow: 
    0 1px 0 #ff8ba8,
    0 2px 0 #c23659,
    0 3px 0 #a02443;
}
/* footer */
.footer__banner {
  background: #e8efee;
  padding: 32px 5px;
  color: #484848;
}
.footer__banner .wrapper {
  display: flex;
  justify-content: space-between;
}
.restaurant__info {
  font-size: 14px;
}
.restaurant__info > * {
  margin-bottom: 5px;
}
.restaurant__sites {
  text-align: center;
}
.restaurant__sites > * {
  margin-bottom: 10px;
}
.copyright {
  background: #35564b;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px;
}

/* media: mobile, wide-screen */
@media (min-width: 1300px) {
  .display {
    width: 40%;
  }
}

@media (max-width: 768px) {
  nav .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  nav h1 {
    margin: 5px 0;
  }
  .navbar__list li {
    border-radius: 0;
    padding: 6px;
  }
  .display {
    width: 100%;
    border-radius: 0;
  }
  .footer__banner .wrapper {
    flex-direction: column-reverse;
  }
  .restaurant__sites {
    margin-bottom: 15px;
  }
  .restaurant__info {
    padding: 0 7px;
  }
}

/* JS handeling class */
h3 {
  text-align: center;
  font-size: 36px;
  margin: 3rem 1rem;
  padding: 20px;
}
.thank {
  color: white;
  border: 1px solid white;
}
.prize {
  box-shadow: 1.4px 1.4px 6px 0 #97a2a0;
  background: rgba(255, 255, 255, .7);
}