<% if (successMsg && successMsg.length) { %>
  <div class="success-msg"><%= successMsg %><span class="close-btn">&times;</span></div>
  <% } %>
  <% if (errorMsg && errorMsg.length) { %>
  <div class="error-msg"><%= errorMsg %><span class="close-btn">&times;</span></div>
  <% } %>