<body class="debug">
  <nav class="navbar">
    <div class="navbar__left container">
      <div class="left__logo"><a href="#">Just A Bite!</a></div>
      <div class="left__subtitle"><a href="/backstage">管理後台設定</a></div>
      <div class="left__status">
        <a href="/logout" class="logout-btn">登出</a>
      </div>
    </div>
    <div class="navbar__right container">
      <div class="right__front"><a href="/">前台瀏覽</a></div>
      <div class="right__config-price"><a href="/backstage/prize">抽獎</a></div>
    </div>
  </nav>